@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 15% 10%; /* Dark grey, close to iOS dark mode */
    --foreground: 210 30% 98%; /* Light grey text */

    --card: 210 15% 12%; /* Slightly lighter than the background */
    --card-foreground: 210 30% 98%;

    --popover: 210 15% 12%; /* Matches card background */
    --popover-foreground: 210 30% 98%;

    --primary: 210 30% 98%; /* Light grey */
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 210 15% 18%; /* Mid grey */
    --secondary-foreground: 210 30% 98%;

    --muted: 210 15% 20%; /* Slightly lighter muted tone */
    --muted-foreground: 210 20% 70%;

    --accent: 210 15% 20%; /* Matches muted background */
    --accent-foreground: 210 30% 98%;

    --destructive: 0 60% 40%; /* Softer red for destructive actions */
    --destructive-foreground: 210 30% 98%;

    --border: 210 15% 20%; /* Matches muted background */
    --input: 210 15% 20%; /* Matches muted background */
    --ring: 210 20% 30%; /* Subtle ring effect */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scrollbar-gutter: stable;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}